test_src/jws_basic/src/store/OrderService.wsdl

<?xml version='1.0'?>
<definitions name="OrderServiceDefinitions" targetNamespace="http://example.org" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:s0="java:store.client" xmlns:s1="http://example.org" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/">
  <n1:types xmlns:n1="http://schemas.xmlsoap.org/wsdl/">
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="java:store.client" xmlns:n1="http://schemas.xmlsoap.org/wsdl/" xmlns:s0="java:store.client" xmlns:s1="http://www.w3.org/2001/XMLSchema" xmlns:s2="http://example.org" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="OrderStruct">
        <xs:sequence>
          <xs:element minOccurs="0" name="Supplier" nillable="false" type="xs:string"/>
          <xs:element minOccurs="0" name="PartName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="PartID" nillable="false" type="xs:string"/>
          <xs:element minOccurs="0" name="Amount" nillable="false" type="xs:long"/>
          <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </n1:types>
  <n2:message xmlns:n2="http://schemas.xmlsoap.org/wsdl/" name="processOrderApp">
    <n2:part name="orderRequest" type="s0:OrderStruct"/>
  </n2:message>
  <n3:message xmlns:n3="http://schemas.xmlsoap.org/wsdl/" name="processOrderAppResponse">
    <n3:part name="return" type="s1:OrderStruct"/>
  </n3:message>
  <n4:portType xmlns:n4="http://schemas.xmlsoap.org/wsdl/" name="myPortType">
    <n4:operation name="processOrderApp" parameterOrder="orderRequest">
      <n4:input message="s2:processOrderApp"/>
      <n4:output message="s2:processOrderAppResponse"/>
    </n4:operation>
  </n4:portType>
  <n5:binding xmlns:n5="http://schemas.xmlsoap.org/wsdl/" name="OrderServiceSoapBinding" type="s2:myPortType">
    <s3:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <n5:operation name="processOrderApp">
      <s3:operation soapAction="http://example.orgprocessOrderApp" style="rpc"/>
      <n5:input>
        <s3:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://example.org" use="encoded"/>
      </n5:input>
      <n5:output>
        <s3:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://example.org" use="encoded"/>
      </n5:output>
    </n5:operation>
  </n5:binding>
  <n6:service xmlns:n6="http://schemas.xmlsoap.org/wsdl/" name="OrderService">
    <n6:port binding="s2:OrderServiceSoapBinding" name="helloPort">
      <s3:address location="http://localhost:7021/store_basic_ejb/OrderSimpleBean"/>
    </n6:port>
  </n6:service>
</definitions>
